<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>GradeEZ - Course</title>
    <th:block th:insert="~{partials/header-links :: header-links}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>

<h4 th:text="${course.name}"></h4>
<h6 th:text="'course id: ' + ${course.id}"></h6>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
</body>
</html>