<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>GradeEZ - My Courses</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>

<ul>
	<li th:each="course : ${courses}">
		<a th:href="@{/courses/{id}(id=${course.id})}" th:text="${course.name}"></a>
	</li>
</ul>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
</body>
</html>