<th:block th:fragment="create-course-modal">

  <div class="modal fade create-group-modal" id="createCourseModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create a Group</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <form th:method="post" th:action="@{/courses}">
          <div class="modal-body">

            <input name="name" type="text">

          </div>


          <div class="modal-footer">
            <button type="button" class="create-group-close-button" data-bs-dismiss="modal">
              Cancel
            </button>
            <button type="submit" class="create-group-post-button">Create</button>
          </div>
        </form>

      </div>
    </div>
  </div>

</th:block>