<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GradeEZ - Home</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>

<h2>Welcome to GradeEZ!</h2>

<div>
	<h3>My Courses</h3>
	<a th:href="@{/courses}">View All</a>

	<ul>
		<li th:each="course : ${courses}">
			<a th:href="@{/courses/{id}(id=${course.id})}" th:text="${course.name}"></a>
		</li>
	</ul>
</div>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
</body>
</html>