<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Log In</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<style>

		.error {
			color: red;
		}

		.success {
			color: green;
		}

	</style>
</head>
<body>

<h3>Log In</h3>

<form method="POST" th:action="@{/authenticate}">

	<div class="success" th:if="${param.logout}">
		Successfully logged out!
	</div>

	<div class="error" th:if="${param.error}">
		Invalid username and/or password
	</div>

	<p>Username: <input type="text" name="username"></p>

	<p>Password: <input type="password" name="password"></p>

	<input type="submit" value="Login">

</form>


<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
</body>
</html>